<div class="container">
    <h1>Get Yer Anagrams</h1>
    <% if @w %>
      <p>Here are your anagrams: <%= @w %></p>
    <% end %>
    <form method="post" action="/word" >
      Anagram:
      <br>
      <input type="text" name="word">
      <input type="submit" value="Say it!">
    </form>
  </div>

</div>


<!-- form data -->
<!-- via url -->
<!-- special sinatra magic -->